<%= link_to "アカウント", user_path %>
<%= link_to "プロフィール", profile_path %>
<%= link_to "編集", edit_profile_path %>

<h1>プロフィール</h1>
<div>
  <p>アイコン画像：<%= image_tag @user.icon_image.url, size: "200x200" %></p>
  <p>名前：<%= @user.name %></p>
  <p>自己紹介：<%= @user.message %></p>
</div>

