<h1>登録済み一覧</h1>

<% @rooms.each do |room| %>
    <span>
      <%= image_tag room.room_image.url %>
    </span>
    <span><%= room.roomname %></span>
    <span><%= room.roomdetails %></span>
    <span><%= room.roomrate %></span>
    <span><%= room.created_at.strftime("%Y/%m/%d") %></span>

    <span><%= link_to "詳細はこちら",new_reservation_path(rooms_id: room.id) %></span>
  </div>
<% end %>

